
body{
    font-family: 'Montserrat', sans-serif;
}
/*header*/
#mainNav{
    position: absolute;
    z-index: 1000;
}
nav{
    background-color: #171717;
}
nav a{
    text-transform: uppercase;
}
nav .edit-nav-gt .navbar-brand{
    font-size: 24px;
    font-weight: bold;
}
.align-menu ul li a{
    font-size: 15px;
}
.align-menu ul li a:hover{
    border-bottom: 1px solid#ffffff;
}
/*header*/

/*content*/
.text-title-gt{
    font-weight: bold;
    font-style: italic;
}
h6{
    line-height: 1.5;
}
/*content*/




/*FOOTER*/
footer div p{
    margin: 10px 0 10px 0;
}
.social-btn-edit ul li a{
    margin-top: 0;
    margin-bottom: 0;
}
.edit-hover-footer div a:hover{
    color: #b7d5ca;
}
.edit-hover-footer div a{
    font-size: 14px;
}

.edit-color-footer{
    background-color: #171717;
}
.edit-developed p{
    font-size: 14px;
}

/*FOOTER*/