body{
    font-family: 'Montserrat', sans-serif;
}

#map {
    height: 600px;
    width: 100%;
}

/*----------------------------------header*/
nav{
    background-color: #171717;
    position: relative;
    z-index: 1000;
}
nav a{
    text-transform: uppercase;
}
nav .edit-nav-gt .navbar-brand{
    font-size: 24px;
    font-weight: bold;
}
.align-menu ul li a{
    font-size: 15px;
}
.align-menu ul li a:hover{
    border-bottom: 1px solid#ffffff;
}
.editBannerGt{
    width: 100%;
    height: 100%;
    position: absolute;
    top:-150px;
}
/*----------------------------------header*/
/*breadcrumb*/

/*breadcrumb*/

/*content*/
.left-column .address,.left-column .address-1{
    margin-top: 5px;
    margin-bottom: 5px;
}
.left-column .address-1 .card-body{
    background-color: #007199;
}
.left-column .address-1 .card-body h4,.left-column .address-1 .card-body p{
    color: #ffffff;
}
.Dear h5,.Dear p{
    text-align: center;
}
.Dear p{
    opacity: 0.8;
    font-size: 16px;
}
.Dear h5{
    font-weight: bold;
    margin-top: 80px;
}
/*content*/
/* Override content */
.OverrideContent{
    position: relative;
    z-index: 1000;
    top:492px;
    background-color: #ffffff;
}
/* Override content */

/*breadcrumb*/
.breadcrumb{
    background-color: inherit;
}
.breadcrumb li,.breadcrumb li a{
    font-size: 14px;
}
.breadcrumb li a{
    color: #313131;
}
.breadcrumb li a:hover{
    color: #0b51c5;
}
/*breadcrumb*/

/*send-of-LienHe*/
.send-of-LienHe{
    background-color: #007199;
}
/*send-of-LienHe*/
/*FOOTER*/
footer div p{
    margin: 10px 0 10px 0;
}
.social-btn-edit ul li a{
    margin-top: 0;
    margin-bottom: 0;
}
.edit-hover-footer div a:hover{
    color: #b7d5ca;
}
.edit-hover-footer div a{
    font-size: 14px;
}

.edit-color-footer{
    background-color: #171717;
}
.edit-developed p{
    font-size: 14px;
}
/*FOOTER*/
.static-banner{
    height: 450px;
    overflow: hidden;
    position: relative;
}
.static-banner .static-banner-background{
    height: 100%;
    width: 100%;
    position: absolute;
}