.menuactive {
    border-bottom: 1px solid#ffffff;
}

/* Sản Phẩm*/
.products .card-body {
    height: 147px;
}
.products .card-body h4{
    font-weight: bold;
}
/* Sản Phẩm */
/* hidden-search */
.btn-color{
    background-color: #007199;
}
.align-indicators .primary-color{
    background-color: #007199!important;
    opacity: 0.5;
}
/* hidden-search */
body{
    background-color: rgba(13,189,246,0.05);
}