/* Your custom styles */
body{
    font-family: 'Montserrat', sans-serif;
}

/*SanPham*/
.card-body{
    height: 147px;
}
.rp1, .rp2, .rp3{
    margin-top: 40px;
}
/*Sá»¬A FOOTER*/
footer.page-footer{
	margin-top: 3px; 
}
nav{
	position: absolute;
	top:100px; 
	
}
