/* Your custom styles */
body{
    font-family: 'Montserrat', sans-serif;
}
/*Header*/
div .edit-nav-home{
    background-color: inherit;
    box-shadow: none;
    z-index: 2;

}
div .edit-nav-home a{
    color: #ffffff;
}
.carousel-control-next, .carousel-control-prev{
    width: 150px;
}
/*Header*/

/*Search-home*/
.search-home-edit{
    border: 1px solid  #bfbfbf;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}
.search-home-edit:hover{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16), 0 3px 11px 0 rgba(0,0,0,.12);
}
.title-head-box{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin: 6px 0 10px 0;
}
.btn-edit-home button{
    margin: 0;
}
.align-btn-home button:hover{
    box-shadow: none;
}
.align-btn-home button{
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #bfbfbf;
}
/*Search-home*/

/*SanPham*/
.card-body{
    height: 147px;
}
.rp1, .rp2, .rp3{
    margin-top: 40px;
}

/*SanPham*/

/*SỬA FOOTER*/
footer div p{
    margin: 10px 0 10px 0;
}
.social-btn-edit ul li a{
    margin-top: 0;
    margin-bottom: 0;
}
.edit-hover-footer div a:hover{
    color: #b7d5ca;
}
.edit-position{
    position: relative;
    top: -56px;
}
/*SỬA FOOTER*/


