/* Your custom styles */
body{
    font-family: 'Montserrat', sans-serif;
}
/*--------------------------------- HEADER */

/*edit-navbar*/
.position-nav{
    top: 10px;
    position: absolute;
    z-index: 1000;
    margin: 0 66px;
}
div .edit-nav-home{
    background-color: inherit;
    box-shadow: none;
}

/*edit text navbar*/
div .edit-nav-home a{
    color: #ffffff;
    font-weight: bold;
}

.miniature-banner img{
    background-repeat: no-repeat;
    height: 75vh;
}

/*edit menu*/
.align-menu ul li a{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: -4px 4px 6px rgba(0,0,0,0.4),
    -1px -3px 6px rgba(0,0,0,0.3),
    0 3px 8px rgba(0,0,0,0.2),
    0 4px 15px rgba(0,0,0,0.22);
}

/*border-bottom*/
div .edit-nav-home ul a:hover{
    border-bottom: 1px solid#ffffff;
}
/*logo*/
div .edit-nav-home .navbar-brand{
    font-size: 24px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4),
    -2px -3px 6px rgba(0,0,0,0.3),
    0 -5px 8px rgba(255,255,255,0.3),
    0 4px 15px rgba(0,0,0,0.4);
}
/*button - pev & next*/
.carousel-control-next, .carousel-control-prev{
    width: 150px;
}
.carousel-caption{
    width: 960px;
}

.carousel-caption h3{
    font-size: 20px;
    font-weight: bold;
}

.carousel-caption h3,.carousel-caption p{
    text-shadow: -2px -2px 6px rgba(0,0,0,0.2),
    -3px -3px 6px rgba(0,0,0,0.2),
    0 -5px 8px rgba(0,0,0,0.3),
    0 4px 15px rgba(0,0,0,0.4);
}

.Azimut-66 span{
    font-weight: normal;
}

.Azimut-al-51 p{
    font-size: 20px;
}

.Azimut-43 p{
    font-size: 20px;
    font-style: italic;
}

.Azimut-S7 p{
    font-style: italic;
}

/*small list*/
.align-smallList{
    width: 100%;
    margin: 0;
}
.align-smallList div img{
    width: 100%;
}
.bg-smallList-1 a{
    color: #ffffff;
    bottom: 75px;
}
.bg-smallList-1 a:hover{
    border-bottom: 1px solid #e6e6e6;
    color: #e6e6e6;
}
.bg-smallList-2 a{
    color: #ffffff;
    bottom: 75px;
}
.bg-smallList-2 a:hover{
    border-bottom: 1px solid #e6e6e6;
    color: #e6e6e6;
}
.bg-smallList-1,.bg-smallList-2{
    padding: 0;
}
.bg-smallList-1{
    padding-right: 5px;
}
.bg-smallList-2{
    padding-left: 5px;
}
/*small list*/
.button-more-1 div view img{
    width: auto;
}
.button-more-1 div div button,.button-more-2,.send-of-home{
    background-color: #007199;
}
.content-bg{
    position: absolute;
    z-index: 1000;
    bottom: 100px;
}
.content-bg h3,.content-bg p{
    color: #ffffff;
}
/*--------------------------------HEADER*/

/*--------------------------------Search-home*/
.edit-searchTop{
    bottom:15px;
    position: relative;
    z-index: 10;
}
.search-home-edit{
    background-color: #ffffff;
    border: 1px solid  #bfbfbf;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}
.search-home-edit:hover{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16), 0 3px 11px 0 rgba(0,0,0,.12);
}
.title-head-box{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin: 6px 0 10px 0;
}
.btn-edit-home button{
    margin: 0;
    background-color: #74292C;
}
.align-btn-home button:hover{
    box-shadow: none;
}
.align-btn-home button{
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #bfbfbf;
}
/*---------------------------- Search-home*/

/*----------------------------- SanPham*/
.card-body{
    height: 147px;
}
.rp1, .rp2, .rp3{
    margin-top: 20px;
}
div .sale{
    text-decoration: line-through;
}
div .card-title{
    font-size: 18px;
}

div .sale-of-color{
    color: #ff0200;
}
.view img{
    width: 100%;
}

/*-------------------- SanPham*/

/*---------------------- FOOTER*/
footer div p{
    margin: 10px 0 10px 0;
}
.social-btn-edit ul li a{
    margin-top: 0;
    margin-bottom: 0;
}
.edit-hover-footer div a:hover{
    color: #b7d5ca;
}
.edit-hover-footer div a{
    font-size: 14px;
}

.edit-color-footer{
    background-color: #171717;
}
.edit-developed p{
    font-size: 14px;
}

/* ----------------------- FOOTER*/


